body
{background-color:black}
h1
{color:white;text-align:center;}
th
{color:white}
table
{background-color:red}
#dota{
    background-color:red;
}
#fortnite{
    background-color:yellow;
}
#pubg{
    background-color:orange;
}
#league{
    background-color:rgb(55, 55, 133);
}
b{
    color:yellow;
}
#down{
    background-color:blueviolet;
}